<div class="fullwidth-block">
    <div class="container">
        <div class="row">
            <div class="colPhoto">
                <div class="photo">
                    <div class="photo-preview photo-detail"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Lightning Across the Sky</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                      <img src="../../images/thunderstorm-1768742_640.jpg" alt="thunderstorm">
                    </div>
                </div>
                <div class="photo">
                    <div class="photo-preview photo-detail" data-bg-image="images/photo-2.jpg"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                        <img src="../../images/rain-1479303_640.jpg" alt="rain">
                    </div>
                </div>
                <div class="photo">
                    <div class="photo-preview photo-detail"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                            <img src="/src/weather-pics/pexels-szafran-32992264.jpg" alt="" srcset="">
                        <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                    class="rating">1</strong> out of 5</span></div>
                    </div>
                </div>
                <div class="photo">
                    <div class="photo-preview photo-detail" data-bg-image="images/photo-4.jpg"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                        <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                    class="rating">1</strong> out of 5</span></div>
                    </div>
                </div>
                <div class="photo">
                    <div class="photo-preview photo-detail" data-bg-image="images/photo-5.jpg"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                        <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                    class="rating">1</strong> out of 5</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="photo">
                    <div class="photo-preview photo-detail" data-bg-image="images/photo-4.jpg"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                        <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                    class="rating">1</strong> out of 5</span></div>
                    </div>
                </div>
                <div class="photo">
                    <div class="photo-preview photo-detail" data-bg-image="images/photo-7.jpg"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                        <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                    class="rating">1</strong> out of 5</span></div>
                    </div>
                </div>
                <div class="photo">
                    <div class="photo-preview photo-detail" data-bg-image="images/photo-8.jpg"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                        <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                    class="rating">1</strong> out of 5</span></div>
                    </div>
                </div>
                <div class="photo">
                    <div class="photo-preview photo-detail" data-bg-image="images/photo-9.jpg"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                        <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                    class="rating">1</strong> out of 5</span></div>
                    </div>
                </div>
                <div class="photo">
                    <div class="photo-preview photo-detail" data-bg-image="images/photo-10.jpg"></div>
                    <div class="photo-details">
                        <h3 class="photo-title"><a href="#">Neque porro quisquam</a></h3>
                        <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt explicabo nemo
                            enim.</p>
                        <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                    class="rating">1</strong> out of 5</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

