<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="block">
    <div class="container">
        <div class="contact">
            <div class="contact-details">
                <div class="map" data-latitude="-6.897789" data-longitude="107.621735"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.7342155961555!2d36.820981709958566!3d-1.2834620356164075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d6678064cf%3A0x956bb6f5e0ab2aac!2sMoi%20Ave%2C%20Nairobi!5e1!3m2!1sen!2ske!4v1754346353872!5m2!1sen!2ske"
                    width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                <div class="contact-info">
                <address>
                    <img src="../../images/icon-marker.png" alt="">
                    <p>Weather Company Inc.<br>Moi Avenue, Nairobi</p>
                </address>
                <a href="tel:+254759710461">
                    <img src="../../images/icon-phone.png" alt="">+254759710461
                </a>
                <a href="mailto:allanmwangi800@gmail.com">
                    <img src="../../images/icon-envelope.png" alt="">allanmwangi800.gmail.com
                </a>
                </div>
<div class="section">
    <h2 class="section-title">Contact us</h2>
    <p>We're here to help! Whether you have questions about our services, need support, or want to discuss a project, we'd love to hear from you. Fill out the form below, or email us at <a href="mailto:allanmwangi800@gmail.com">EMAIL US</a>. We typically respond within one business day.</p>
    <form action="#" class="contact-form">
        <div class="info-1">
            <div class="name"><input type="text" placeholder="Your name..."></div>
            <div class="E-mail"><input type="text" placeholder="Email Addresss..."></div>
        </div>
        <div class="info-2">
            <div class="Company"><input type="text" placeholder="Company name..."></div>
            <div class="Website"><input type="text" placeholder="Website..."></div>
        </div>
        <textarea name="" placeholder="Message..."></textarea>
        <div class="button">
            <button type="submit" class="btn">Send message</button>
        </div>
    </form>

</div>
</div>
</div>
</div>
</div>  

