<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="block">
    <div class="container">
        <div class="contact">
            <div class="contact-details">
                <div class="map" data-latitude="-6.897789" data-longitude="107.621735"></div>
                <div class="contact-info">
                <address>
                    <img src="../../images/icon-marker.png" alt="">
                    <p>Weather Company Inc.<br>Moi Avenue, Nairobi</p>
                </address>
                <a href="tel:+254759710461">
                    <img src="../../images/icon-phone.png" alt="">+254759710461
                </a>
                <a href="mailto:allanmwangi800@gmail.com">
                    <img src="../../images/icon-envelope.png" alt="">allanmwangi800.gmail.com
                </a>
                </div>
<div class="section">
    <h2 class="section-title">Contact us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur inventore ducimus, facilis, numquam
        id soluta omnis eius recusandae nesciunt vero repellat harum cum. Nisi facilis odit hic, ipsum sed!</p>
    <form action="#" class="contact-form">
        <div class="info-1">
            <div class="name"><input type="text" placeholder="Your name..."></div>
            <div class="E-mail"><input type="text" placeholder="Email Addresss..."></div>
        </div>
        <div class="info-2">
            <div class="Company"><input type="text" placeholder="Company name..."></div>
            <div class="Website"><input type="text" placeholder="Website..."></div>
        </div>
        <textarea name="" placeholder="Message..."></textarea>
        <div class="button">
            <button type="submit" class="btn">Send message</button>
        </div>
    </form>

</div>
