/* Time Container Styles */
.time-container {
    position: fixed;
    border: none;
    background-color: #f0f0f000;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    color: black;
    font-weight: 400;
}

.time-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.time-container p {
    font-size: 1.5rem;
}