.container {
margin:0;
font-family: Arial, sans-serif;
background-color: #0056b3;
border-radius: 2px;
padding: 0;
width: 100%;
}


h2 {
color: #333;
}

.city-list {
list-style-type: none;
padding: 0;
}

.city-list li {
background-color: #f4f4f4;
margin: 5px 0;
padding: 10px;
border-radius: 4px;
}

.city-form {
margin-top: 20px;
}

.city-form label {
margin-right: 10px;
}

.city-form input {
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
}

.city-form button {
margin-left: 10px;
padding: 5px 10px;
background-color: #007bff;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

.city-form button:hover {
background-color: #0056b3;
}

.refresh-button {
margin-top: 20px;
padding: 5px 10px;
background-color: #28a745;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

.refresh-button:hover {
background-color: #218838;
}
