

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86b5e4;
    padding: 20px;
    border-radius: 10px;
    /* width: 90vw;
    max-width: 1200px; */
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.refresh-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #2196f3;
    /* Primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.city-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.save-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    /* Success color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cities-list {
    width: 100%;
}

.city-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.city-card:hover {
    transform: translateY(-5px);
}

.city-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-header h2 {
    font-size: 20px;
    color: #333;
}

.delete-button {
    background-color: #f44336;
    /* Danger color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}

.weather-data {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.weather-icon-container {
    align-self: center;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 32px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    color: #666;
}

.additional-info {
    font-size: 14px;
    color: #999;
}

.history-item {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}