<div class="container">
    <div class="city-form" *ngIf="showForm">
        <label for="city-name">New City Name:</label>
        <input id="city-name" class="input-field" type="text" [(ngModel)]="newCityName">
        <button class="save-button" (click)="saveCity()">Save</button>
    </div>
    <button class="refresh-button" (click)="getAllCities()">Refresh Cities</button>
    <div class="city-widget-container">
        <div class="city-widget" *ngFor="let city of cities" (click)="selectCity(city)">
            <div class="widget-header">
                <span class="city-name">{{ city.name }}</span>
                <button class="delete-button" (click)="deleteCity(city.id)">Delete</button>
            </div>
            <div class="widget-body">
                <div class="widget-temperature" *ngIf="selectedCity?.name === city.name && weatherData">
                    {{ weatherData.temp }} °C
                </div>
                <div *ngIf="selectedCity?.name === city.name && weatherData">
                    <p>Weather: {{ weatherData.weather }}</p>
                    <p>Humidity: {{ weatherData.humidity }}%</p>
                    <img [src]="'http://openweathermap.org/img/w/' + weatherData.icon + '.png'" alt="Weather icon">
                </div>
            </div>
        </div>
    </div>
</div>