<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<body>
<div class="container">
    <div class="row">
        <div class="post">
            <h1 class="Entry-title">
            The weather around the world  
            </h1>
            <div class="featured-image">
                <img src="../../images/featured-image-1.jpg" alt="">
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, vero debitis esse minima maiores hic fugit architecto. Magni pariatur tenetur, tempora, molestias, cum obcaecati atque optio exercitationem voluptatibus illo placeat.</p>
            <a href="single.html" class="button">Read more</a>
        </div>
        <div class="post">
            <h1 class="Entry-title">
                The weather around the world
            </h1>
            <div class="featured-image">
                <img src="../../images/featured-image-2.jpg" alt="">
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, vero debitis esse minima maiores hic fugit
                architecto. Magni pariatur tenetur, tempora, molestias, cum obcaecati atque optio exercitationem voluptatibus illo
                placeat.</p>
            <a href="single.html" class="button">Read more</a>
        </div>
        <div class="post">
            <h1 class="Entry-title">
                The weather around the world
            </h1>
            <div class="featured-image">
                <img src="../../images/featured-image-3.jpg" alt="">
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, vero debitis esse minima maiores hic fugit
                architecto. Magni pariatur tenetur, tempora, molestias, cum obcaecati atque optio exercitationem voluptatibus illo
                placeat.</p>
            <a href="single.html" class="button">Read more</a>
        </div>
        <div class="sidebar">
            <div class="widget">
                <h3 class="widget-title">Hot News</h3>
                <ul class="arrow-list"> 
                    <li><a href="#">Accusamus dignissimos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="subscribe">
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter your email to subscribe...">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="social-media-links">
                    <div class="social-links">
                        <a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-link"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-link"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <p class="copyright">Copyright 2024 Company name. Designed by OtitoTM. All rights reserved</p>
        </div>
    </footer>
</body>