.spinner {
    border: 16px solid white;
    border-top: 16px solid #551f819c;
    border-right: 16px solid rgba(17, 0, 255, 0.733);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}