
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


<body>
  <main>
    <section class="container">
      <div class="row">
        <form class="col" id="search-form">
          <input type="text" name="cityName" placeholder="Enter a city name" [(ngModel)]="city">
          <button type="button" (click)="getWeather()">Get Weather</button>
        </form>
      </div>
    </section>

    <div class="divWeatherMain" *ngIf="weatherData">
      <div *ngIf="weatherData.isDay" class="weatherWidgetRow">
        <i class="fa-solid fa-sun sun"></i>
      </div>
      <div *ngIf="!weatherData.isDay" class="weatherWidgetRow">
        <i class="fa-solid fa-moon moon"></i>
      </div>
      <div class="weatherWidgetRow cloudDiv">
        <i class="fa-solid fa-cloud cloud"></i>
      </div>
      <div class="weatherWidgetRow" style="font-size: 32px; margin-top: 5px;">
        {{ weatherData.temp_cecius }}°C
      </div>
      <div class="weatherWidgetRow" style="font-size: 12px;">
        {{ weatherData.temp_min }} / {{ weatherData.temp_max }}°
      </div>
      <div class="weatherWidgetRow" style="font-size: 12px;">
        Feels Like: {{ weatherData.temp_feels_like }}°
      </div>
      <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 10px;">
        {{ weatherData.name }}
      </div>
      <div class="weatherWidgetRow" style="font-size: 12px;">
        Humidity: {{ weatherData.main?.humidity }}%
      </div>
    </div>
    <hr />

    <section class="container">
      <div class="row week-forecast" *ngIf="forecastData.length">
        <div class="col" *ngFor="let day of forecastData">
          <h3>{{ day.date | date:'EEE' }}</h3>
          <br />
          <img [src]="'https://openweathermap.org/img/wn/' + day.icon + '@2x.png'" /><br />
          <p class="weather">{{ day.weather }}</p>
          <span>{{ day.temp }}°</span>
        </div>
      </div>
    </section>

    <footer>
      <p>
        Designed and coded by
        <a href="https://github.com/OtitoTM/WeatherApp.git" target="_blank">OtitoTM</a><span>✌🏼</span>
      </p>
    </footer>
  </main>
</body>