<body>

<main>
    <!-- search bar and city name -->
    <section class="container">
        <div class="row">
            <form class="col" id="search-form">
                <input type="text" id="search-input" aria-describedby="searchCity" placeholder="Search city..."
                    class="search-form" autocomplete="off" />
                <button type="submit">Search</button>
            </form>
            <h1 class="col d-flex justify-content-center align-items-center city-title" id="searched-city">
                Nairobi
            </h1>
        </div>
        <span class="measurements">
            <a href="#" id="celcius-link">C°</a> |
            <a href="#" id="fahrenheit-link">F°</a>
        </span>
    </section>

    <!-- temp and day info -->
    <section class="current-weather">
        <div class="container">
            <div class="row">
                <h1 class="col temp-title" id="current-temperature">4°</h1>
                <div class="col todays-info">
                    <p id="current-time">11:00</p>
                    <h2 id="current-day">Today</h2>
                    <p id="weather-type">Cloudy</p>
                </div>
                <div class="col d-flex align-items-center side-info">
                    <ul>
                        <li>Humidity: <span id="humidity"></span></li>
                        <li>Wind: <span id="wind"></span></li>
                    </ul>
                </div>
            </div>
        </div>
         <hr /> <!-- horizontal rule -->
    </section>

    <!--5 day forecast-->
    <section class="container">
        <div class="row week-forecast">
            <div class="col">
                <h3>Fri</h3>
                <br /><img src="https://img.icons8.com/color-glass/42/000000/rain.png" /><br />
                <p class="weather">Rain</p>
                <span>2°</span>
            </div>
            <div class="col">
                <h3>Sat</h3>
                <br /><img src="https://img.icons8.com/color-glass/42/000000/cloud.png" /><br />
                <p class="weather">Cloudy</p>
                <span>4°</span>
            </div>
            <div class="col">
                <h3>Sun</h3>
                <br /><img src="https://img.icons8.com/color-glass/42/000000/partly-cloudy-day.png" /><br />
                <p class="weather">Partly cloudy</p>
                <span>6°</span>
            </div>
            <div class="col">
                <h3>Mon</h3>
                <br /><img src="https://img.icons8.com/color-glass/42/000000/sun.png" /><br />
                <p class="weather">Sunny</p>
                <span>8°</span>
            </div>
            <div class="col">
                <h3>Tues</h3>
                <br /><img src="https://img.icons8.com/color-glass/42/000000/wind.png" /><br />
                <p class="weather">Windy</p>
                <span>5°</span>
            </div>
        </div>
    </section>

    <footer>
        <p>
            Designed and coded by
            <a href="https://github.com/OtitoTM/WeatherApp.git" target="_blank">OtitoTM</a><span>✌🏼</span>
        </p>
    </footer>
</main>
</body>
